<div class="text-center">
  <h1 style="color: white;text-align: center;"><br>Trello Clone</h1>
</div>
<div class="container">
  <div class="navbar navbar-default" style="background-color: darkslategrey; color: white;">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/']">Home</a>
          </li>
          <li *ngIf="!loginService.isUserLoggedIn()" [routerLinkActive]="['active']">
            <a [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="!loginService.isUserLoggedIn()" [routerLinkActive]="['active']">
            <a [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="loginService.isUserLoggedIn()" [routerLinkActive]="['active']">
            <a [routerLink]="['/board']">View Board</a>
          </li>

          <li *ngIf="loginService.isUserLoggedIn()" [routerLinkActive]="['active']">
            <a (click)="settingsModal()">Settings</a>
          </li>
          <li *ngIf="loginService.isUserLoggedIn()" [routerLinkActive]="['active']">
            <a [routerLink]="['/logout']">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
