<div class="container" style="text-align: center">
  <h2>Login Form</h2>
  <form [formGroup]="loginForm" style="align-content: center" autocomplete="off">

    <div class="form-group">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Username</mat-label>
        <input formControlName="username" required matInput>
        <mat-error *ngIf="loginForm.get('username').invalid">Field is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" required matInput>
        <mat-error *ngIf="loginForm.get('password').invalid">Field is required</mat-error>
      </mat-form-field>
    </div>

      <button class="btn-lg" mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()">Login</button>

    <br>

  </form>
</div>



