<h2 *ngIf="itemFromDB" style="text-align: center; margin-top: -5px">Item Detail</h2>
<h2 *ngIf="!itemFromDB" style="text-align: center; margin-top: -5px">Loading Item Detail...</h2>
<div>
  <form *ngIf="itemFromDB" [formGroup]="itemDetailForm" style="align-content: center" autocomplete="off">

      <h2>Item Name:</h2>
    <div *ngIf="!nameFlag">
      <p (click)="nameFlag = true">{{itemDetailForm.get('itemName').value}}</p>
    </div>
    <div *ngIf="nameFlag" class="form-group">
      <mat-form-field color="accent" class="full-width-field">
        <input formControlName="itemName" type="text" required matInput>
        <mat-error *ngIf="itemDetailForm.get('itemName').invalid">Field is required</mat-error>
      </mat-form-field>
    </div>
    <h2>Item Description:</h2>
    <div *ngIf="!detailFlag">
      <p (click)="detailFlag = true"
         *ngIf="itemDetailForm.get('itemDetail').value">{{itemDetailForm.get('itemDetail').value}}</p>
      <p (click)="detailFlag = true" *ngIf="!itemDetailForm.get('itemDetail').value">Click to add a description...</p>

    </div>

    <div *ngIf="detailFlag" class="form-group">
      <mat-form-field color="accent" class="full-width-field">
        <textarea matInput formControlName="itemDetail"></textarea>
      </mat-form-field>
    </div>


    <h2>Item Color:</h2>
    <div [(colorPicker)]="color" [cpPresetColors]="[color]" [ngStyle]="{'background':color}" style="width: 10%;">
      <h4>k{{color}}</h4>
    </div>


    <br>

  </form>


</div>
<div *ngIf="itemFromDB" style="justify-content: center; justify-items: center; text-align: center">
  <button class="btn-lg" mat-raised-button color="primary" type="submit" [disabled]="!itemDetailForm.valid" (click)="onSubmit()">Submit Changes</button>
</div>
