<div cdkDropListGroup style="margin-left: 5%">
  <div class="board-container">
    <h2 style="margin-left: 2rem">To do</h2>
    <div cdkDropList id="todo" [cdkDropListData]="todo" class="list" (cdkDropListDropped)="drop($event)">
      <div class="box" (click)="openDialog(item)" *ngFor="let item of todo ;index as i" cdkDrag><div style="word-break: break-all">{{item.itemName}}</div><div (click)="deleteToDoItem(i)" style="color: lightskyblue; cursor: pointer">Delete</div></div>
    </div>
    <div *ngIf="!addItemToDoSelected" class="addItem" (click)="addItemToDo()"><h4>Add Item</h4></div>
    <div *ngIf="addItemToDoSelected" class="addItemContent">
      <h4>&nbsp;Add item</h4>
      <form [formGroup]="addToDoItemForm" autocomplete="off">
        <div class="form-group">
          <mat-form-field style="margin-right: 27rem; width: 100%" appearance="fill" color="accent">
            <mat-label>Item Name</mat-label>
            <input formControlName="itemName" required matInput>
            <mat-error *ngIf="addToDoItemForm.get('itemName').invalid">Field is required</mat-error>
          </mat-form-field>
          <br>
        </div>
      </form>
      <div class="btn-toolbar">
        <div class="btn-group" role="group">
          <button mat-raised-button style="text-align: center;" color="primary" type="submit"
                  [disabled]="!addToDoItemForm.valid" (click)="addToDoItemContent()">Submit
          </button>
        </div>
        <div class="btn-group" role="group">
          <button mat-raised-button style="text-align: center;" color="warn" type="reset"
                  (click)="cancelToDoAddItemContent()">Cancel
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="board-container">
    <h2 style="margin-left: 2rem">Doing</h2>

    <div cdkDropList id="doing" [cdkDropListData]="doing" class="list" (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let item of doing ;index as i" cdkDrag><div style="word-break: break-all">{{item.itemName}}</div><div (click)="deleteDoingItem(i)" style="color: lightskyblue; cursor: pointer">Delete</div></div>
    </div>

    <div *ngIf="!addItemDoingSelected" class="addItem" (click)="addItemDoing()"><h4>Add item</h4></div>
    <div *ngIf="addItemDoingSelected" class="addItemContent">
      <h4>&nbsp;Add item</h4>
      <form [formGroup]="addDoingItemForm" autocomplete="off">
        <div class="form-group">
          <mat-form-field style="margin-right: 27rem; width: 100%" appearance="fill" color="accent">
            <mat-label>Item Name</mat-label>
            <input formControlName="itemName" required matInput>
            <mat-error *ngIf="addDoingItemForm.get('itemName').invalid">Field is required</mat-error>
          </mat-form-field>
          <br>
        </div>
      </form>
      <div class="btn-toolbar">
        <div class="btn-group" role="group">
          <button mat-raised-button style="text-align: center;" color="primary" type="submit"
                  [disabled]="!addDoingItemForm.valid" (click)="addDoingItemContent()">Submit
          </button>
        </div>
        <div class="btn-group" role="group">
          <button mat-raised-button style="text-align: center;" color="warn" type="reset"
                  (click)="cancelDoingAddItemContent()">Cancel
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="board-container">
    <h2 style="margin-left: 2rem">Done</h2>

    <div cdkDropList id="done" [cdkDropListData]="done" class="list" (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let item of done ;index as i" cdkDrag><div style="word-break: break-all">{{item.itemName}}</div><div (click)="deleteDoneItem(i)" style="color: lightskyblue; cursor: pointer">Delete</div></div>
    </div>
    <div *ngIf="!addItemDoneSelected" class="addItem" (click)="addItemDone()"><h4>Add item</h4></div>
    <div *ngIf="addItemDoneSelected" class="addItemContent">
      <h4>&nbsp;Add item</h4>
      <form [formGroup]="addDoneItemForm" autocomplete="off">
        <div class="form-group">
          <mat-form-field style="margin-right: 27rem; width: 100%" appearance="fill" color="accent">
            <mat-label>Item Name</mat-label>
            <input formControlName="itemName" required matInput>
            <mat-error *ngIf="addDoneItemForm.get('itemName').invalid">Field is required</mat-error>
          </mat-form-field>
          <br>
        </div>
      </form>
      <div class="btn-toolbar">
        <div class="btn-group" role="group">
          <button mat-raised-button style="text-align: center;" color="primary" type="submit"
                  [disabled]="!addDoneItemForm.valid" (click)="addDoneItemContent()">Submit
          </button>
        </div>
        <div class="btn-group" role="group">
          <button mat-raised-button style="text-align: center;" color="warn" type="reset"
                  (click)="cancelDoneAddItemContent()">Cancel
          </button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
